body {
  background-color: #6bff8c;
  font-family: "Arial";
  text-align: center;
}
#question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 150%;
}
#choices {
  height: 74vh;
}
#choices button {
  height: 100%;
  font-size: 150%;
  background-color: #f0f0f0;
  color: black;
}
