body {
  background-color: #6bff8c;
  font-family: "Arial";
  text-align: center;
}
#question {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  font-size: 150%;
}
#choices {
  height: 74vh;
}
#choices button {
  height: 100%;
  font-size: 150%;
  background-color: #72a8ff;
  border: 5px solid #6bff8c;
  color: black;
}
#choices button:hover {
  background-color: #5288df;
}
#choices button:active {
  background-color: #3268bf;
}
