body {
  background-color: #6bff8c;
  font-family: "Arial";
  text-align: center;
}
#center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 23vh;
}
#question {
  font-size: 175%;
  margin: 0.25em;
}
#choices {
  display: block;
  height: 74vh;
}
#choices button {
  height: 100%;
  font-size: 150%;
  background-color: #72a8ff;
  border: 5px solid #6bff8c;
  color: black;
}
#choices button:hover {
  background-color: #5288df;
}
#choices button:active {
  background-color: #3268bf;
}
#vote-cast-text {
  display: none;
  color: #d31b1b;
  font-weight: bold;
  margin: 0.25em;
  font-size: 120%;
}
