body {
  background-color: #6bff8c;
  font-family: "Arial";
  text-align: center;
}
#totals {
  background-color: white;
}
#totals td {
  width: 33vw;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}
#main-table td {
  width: 50vw;
}
#question {
  font-size: 100%;
  width: 100%;
}
#choices {
  vertical-align: top;
  text-align: left;
}
#choices input {
  font-size: 100%;
  width: 50%;
  margin-right: 10px;
}
#choices button {
  font-size: 100%;
}
#choices button.delete {
  background-color: red;
}
#choices button.add {
  background-color: #00ff00;
}
#control-panel button {
  font-size: 100%;
  width: 32%;
  height: 2em;
  margin: 0;
}
#chart-panel {
  display: flex;
  flex-flow: column;
  height: 90vh;
}
#bar-chart {
  height: 100%;
  flex-grow: 1;
}
#bar-chart tr:first-child {
  height: 2em;
}
#bar-chart tr:last-child {
  flex-grow: 1;
  vertical-align: bottom;
}
#bar-chart tr:last-child td {
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}
.chart-column {
  width: 78%;
  height: 0;
  background-color: red;
  margin: auto;
}
